<section class="section blog">
    <div class="container">
        
        <div class="block-title">
            <div class="block-title__wrap">
                <h2 class="block-title__text">Блог</h2>
                <!-- <a href="javascript:;" class="block-title__more blog__more">Посмотреть все</a> -->
                
                <div class="blog__slider-arrows">
                    <div class="blog__prev"></div>
                    <div class="blog__next"></div>
                </div>
            </div>
        </div>

        <div class="blog__slider">
            <a href="javascript:;" class="blog__item">
                <div class="blog__item-img">
                    <img src="img/blog.jpg" alt="">
                </div>
                <div class="blog__item-content">
                    <div class="blog__item-info">
                        <p class="event">Мероприятия</p>
                        <p class="date">16 мая 2020</p>
                    </div>
                    <div class="blog__item-title">
                        Длинный заголовок статьи, новости или мероприятия
                    </div>
                    <div class="blog__item-text">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi asperiores beatae consequuntur fuga provident necessitatibus accusamus ipsa nulla, placeat nostrum.
                        </p>
                    </div>
                </div>
            </a>

            <a href="javascript:;" class="blog__item">
                <div class="blog__item-img">
                    <img src="img/blog.jpg" alt="">
                </div>
                <div class="blog__item-content">
                    <div class="blog__item-info">
                        <p class="event">Мероприятия</p>
                        <p class="date">16 мая 2020</p>
                    </div>
                    <div class="blog__item-title">
                        Длинный заголовок статьи, новости или мероприятия
                    </div>
                    <div class="blog__item-text">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi asperiores beatae consequuntur fuga provident necessitatibus accusamus ipsa nulla, placeat nostrum.
                        </p>
                    </div>
                </div>
            </a>

            <a href="javascript:;" class="blog__item">
                <div class="blog__item-img">
                    <img src="img/blog.jpg" alt="">
                </div>
                <div class="blog__item-content">
                    <div class="blog__item-info">
                        <p class="event">Мероприятия</p>
                        <p class="date">16 мая 2020</p>
                    </div>
                    <div class="blog__item-title">
                        Длинный заголовок статьи, новости или мероприятия
                    </div>
                    <div class="blog__item-text">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi asperiores beatae consequuntur fuga provident necessitatibus accusamus ipsa nulla, placeat nostrum.
                        </p>
                    </div>
                </div>
            </a>
            <a href="javascript:;" class="blog__item">
                <div class="blog__item-img">
                    <img src="img/blog.jpg" alt="">
                </div>
                <div class="blog__item-content">
                    <div class="blog__item-info">
                        <p class="event">Мероприятия</p>
                        <p class="date">16 мая 2020</p>
                    </div>
                    <div class="blog__item-title">
                        Длинный заголовок статьи, новости или мероприятия
                    </div>
                    <div class="blog__item-text">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi asperiores beatae consequuntur fuga provident necessitatibus accusamus ipsa nulla, placeat nostrum.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>