<section class="section feedback">
    <div class="container">
        <div class="feedback__wrap">
            <div class="feedback__content">
                <h2 class="feedback__title">Записаться на прием</h2>
                <div class="feedback__text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui alias sapiente, asperiores fuga velit ullam?</p>
                </div>
            </div>

            <div class="feedback__content">
                <form action="" class="feedback__form">
                    <label for="" class="feedback__form-label">
                        <input type="text" placeholder="Имя" class="feedback__form-input">
                    </label>
                    <label for="" class="feedback__form-label">
                        <input type="text" placeholder="Телефон" class="feedback__form-input">
                    </label>
                    <label for="" class="feedback__form-label">
                        <select name="time" id="" class="feedback__form-select">
                            <option value="" disabled selected>Удобное время для звонка</option>
                            <option value="9-12">9-12</option>
                            <option value="12-15">12-15</option>
                            <option value="15-18">15-18</option>
                        </select>
                    </label>
                    <button type="submit" class="feedback__form-submit">Отправить</button>

                    <p class="feedback__form-agree">Нажимая на кнопку, вы даете согласие на обработку <a href="javascript:;">персональных данных</a></p>
                </form>
            </div>
        </div>
    </div>
</section>