<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer__top-wrap">
                <a href="javascript:;" class="footer__top-item">
                    <svg width="26" height="30">
                        <use xlink:href="img/icons/sprite.svg#footer-order"></use>
                    </svg>
                    Записаться на прием
                </a>
                <a href="javascript:;" class="footer__top-item">
                    <svg width="30" height="26">
                        <use xlink:href="img/icons/sprite.svg#footer-pay"></use>
                    </svg>
                    Оплата онлайн
                </a>
                <a href="javascript:;" class="footer__top-item">
                    <svg width="22" height="29">
                        <use xlink:href="img/icons/sprite.svg#footer-doc"></use>
                    </svg>
                    Документы онлайн
                </a>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="container">
            <div class="footer__bottom-wrap">
                <div class="footer__bottom-left">
                    <a href="javascript:;" class="footer__bottom-logo">
                        <img src="img/logo-footer.png" alt="">
                    </a>

                    <div class="footer__bottom-info">
                        <ul class="footer__bottom-info-menu">
                            <li><a href="javascript:;">Услуги</a></li>
                            <li><a href="javascript:;">Цены</a></li>
                            <li><a href="javascript:;">Контакты</a></li>
                        </ul>
                        <div class="footer__bottom-info-item">
                            <p class="footer__info-item-text">Большая Татарская д. 7 корп. 1</p>
                            <p class="footer__info-item-subtext">
                                <span class="footer__info-item-subtext-address footer__info-item-subtext-address--green">Новокузнецкая</span>
                                <span class="footer__info-item-subtext-address footer__info-item-subtext-address--orange">Третьяковская</span>
                                
                            </p>
                            <a href="javascript:;" class="footer__info-item-text footer__info-item-text--phone">+7 (495) 114-55-85</a>

                            <div class="footer__info-item-icons">
                                <a href="javascript:;" class="footer__info-item-icons-item">
                                    <svg width="40" height="40">
                                        <use xlink:href="img/icons/sprite.svg#footer-whatsapp"></use>
                                    </svg>
                                </a>

                                <a href="javascript:;" class="footer__info-item-icons-item">
                                    <svg width="40" height="40">
                                        <use xlink:href="img/icons/sprite.svg#footer-viber"></use>
                                    </svg>
                                </a>

                                <a href="javascript:;" class="footer__info-item-icons-item">
                                    <svg width="40" height="40">
                                        <use xlink:href="img/icons/sprite.svg#footer-telegram"></use>
                                    </svg>
                                </a>

                            </div>
                        </div>

                        <div class="footer__bottom-info-item">

                            <p class="footer__info-item-text">Дружите с нами:</p>

                            <div class="footer__info-item-icons">
                                <a href="javascript:;" class="footer__info-item-icons-item">
                                    <svg width="40" height="40">
                                        <use xlink:href="img/icons/sprite.svg#footer-inst"></use>
                                    </svg>
                                </a>

                                <a href="javascript:;" class="footer__info-item-icons-item">
                                    <svg width="40" height="40">
                                        <use xlink:href="img/icons/sprite.svg#footer-fb"></use>
                                    </svg>
                                </a>

                                <a href="javascript:;" class="footer__info-item-icons-item">
                                    <svg width="40" height="40">
                                        <use xlink:href="img/icons/sprite.svg#footer-vk"></use>
                                    </svg>
                                </a>

                                <a href="javascript:;" class="footer__info-item-icons-item">
                                    <svg width="40" height="40">
                                        <use xlink:href="img/icons/sprite.svg#footer-yt"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>

                        <div class="footer__bottom-info-item">

                            <a href="javascript:;"class="footer__info-item-pay">
                                <svg width="30" height="26">
                                    <use xlink:href="img/icons/sprite.svg#footer-pay"></use>
                                </svg>
                                Оплата онлайн
                            </a>


                        </div>



                        <div class="footer__bottom-info-item">
                            <div>
                                <a href="javascript:;"class="footer__info-item-link">Политика конфиденциальности</a>
                            </div>
                            <div>
                                <a href="javascript:;"class="footer__info-item-link">Правовая информация (условия пользования сайтом)</a>
                            </div>                                
                        </div>



                        <div class="footer__bottom-info-item">
                            <a href="javascript:;" class="footer__info-item-link footer__info-item-link--company">Сделано в Zum Punkt</a>
                        </div>
                    </div>
                </div>

                <div class="footer__bottom-right">
                    <div class="footer__bottom-links-row">
                        <a href="javascript:;" class="footer__bottom-links-row-item">Лицо</a>
                        <a href="javascript:;" class="footer__bottom-links-row-item">Тело</a>
                        <a href="javascript:;" class="footer__bottom-links-row-item">Руки</a>
                        <a href="javascript:;" class="footer__bottom-links-row-item">Волосы</a>
                        <a href="javascript:;" class="footer__bottom-links-row-item">Здоровье</a>
                    </div>

                    <div class="footer__bottom-menus-row">
                        <div class="footer__bottom-menus-col">
                            <p class="footer__bottom-menus-col-title">Услуги</p>

                            <ul class="footer__bottom-menus-col-list">
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Я хочу...</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Аппаратная косметология</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Инъекционная косметология</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Эстетическая косметология</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Гинекология</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Эстетическая гинекология</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Эндокринология</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Анализы</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Массаж</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Аппаратный массаж</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Обертывание</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Пилинг</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Услуги стилистов</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Макияж</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Ногтевой сервис</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Мужчинам</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Детям</a>
                                </li>        
                            </ul>
                        </div>


                        <div class="footer__bottom-menus-col">
                            <p class="footer__bottom-menus-col-title">О нас</p>

                            <ul class="footer__bottom-menus-col-list">
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Миссия</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Партнеры</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Программа лояльности</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Обязательства</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Документы</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">3D-тур</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Подарочная карта</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Технологии</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Отзывы</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Вакансии</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Клиентам Сити-Банка</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Корпоративным клиентам</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Карта сайта</a>
                                </li>
                                <li class="footer__bottom-menus-list-item">
                                    <a href="javascript:;" class="footer__bottom-menus-list-link">Домашний уход</a>
                                </li>
                                      
                            </ul>
                        </div>


                        <div class="footer__bottom-menus-col">

                            <ul class="footer__bottom-menus-col-nav">
                                <li class="footer__bottom-menus-nav-item">
                                    <a href="javascript:;" class="footer__bottom-menus-nav-link">Цены</a>
                                </li>
                                <li class="footer__bottom-menus-nav-item">
                                    <a href="javascript:;" class="footer__bottom-menus-nav-link">Работаем</a>
                                </li>
                                <li class="footer__bottom-menus-nav-item">
                                    <a href="javascript:;" class="footer__bottom-menus-nav-link">Проблемы</a>
                                </li>
                                <li class="footer__bottom-menus-nav-item">
                                    <a href="javascript:;" class="footer__bottom-menus-nav-link">Программы</a>
                                </li>
                                <li class="footer__bottom-menus-nav-item">
                                    <a href="javascript:;" class="footer__bottom-menus-nav-link">Акции/Скидки</a>
                                </li>
                                <li class="footer__bottom-menus-nav-item">
                                    <a href="javascript:;" class="footer__bottom-menus-nav-link">Команда</a>
                                </li>
                                <li class="footer__bottom-menus-nav-item">
                                    <a href="javascript:;" class="footer__bottom-menus-nav-link">Блог</a>
                                </li>
                                <li class="footer__bottom-menus-nav-item">
                                    <a href="javascript:;" class="footer__bottom-menus-nav-link">Контакты</a>
                                </li>
                            
                                      
                            </ul>

                            <a href="javascript:;" class="footer__bottom-btn">Письмо директору</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>