<header class="header">
        
    <div class="header__top">
        <div class="container">
            <div class="header__top-wrap">
                <div class="header__social">
                    <p class="header__text">Дружите с нами:</p>
                    <a href="javascript:;" class="header__social-item">
                        <svg width="16" height="16">
                            <use xlink:href="img/icons/sprite.svg#header-inst"></use>
                        </svg>
                    </a>
                    <a href="javascript:;" class="header__social-item">
                        <svg width="10" height="16">
                            <use xlink:href="img/icons/sprite.svg#header-fb"></use>
                        </svg>
                    </a>
                    <a href="javascript:;" class="header__social-item">
                        <svg width="16" height="10">
                            <use xlink:href="img/icons/sprite.svg#header-vk"></use>
                        </svg>
                    </a>
                    <a href="javascript:;" class="header__social-item">
                        <svg width="18" height="14">
                            <use xlink:href="img/icons/sprite.svg#header-youtube"></use>
                        </svg>
                    </a>
                </div>

                <div class="header__contacts">
                    <a href="javascript:;" class="header__contacts-item">+7 900 00-00-00</a>
                    <a href="javascript:;" class="header__contacts-item">
                        <svg width="14" height="14">
                            <use xlink:href="img/icons/sprite.svg#header-whatsapp"></use>
                        </svg>
                    </a>
                    <a href="javascript:;" class="header__contacts-item">
                        <svg width="14" height="14">
                            <use xlink:href="img/icons/sprite.svg#header-viber"></use>
                        </svg>
                    </a>
                    <a href="javascript:;" class="header__contacts-item">
                        <svg width="14" height="13">
                            <use xlink:href="img/icons/sprite.svg#header-telegram"></use>
                        </svg>
                    </a>
                </div>

                <div class="header__lang">
                    <a href="javascript:;" class="header__lang-item">En</a>
                </div>
            </div>
        </div>
        
    </div>

    <div class="header__middle">
        <div class="container">
            <div class="header__middle-wrap">
                <a href="javascript:;" class="header__logo">
                    <img src="img/logo.png" alt="">
                </a>
                <a href="javascript:;" class="header__feedback">Запись онлайн</a>

                <div class="header__info">
                    <div class="header__info-item">
                        <p class="header__info-item-text">Большая Татарская д. 7 корп. 1</p>
                        <p class="header__info-item-subtext">
                            <span class="header__info-item-subtext-address header__info-item-subtext-address--green">Новокузнецкая</span>
                            <span class="header__info-item-subtext-address header__info-item-subtext-address--orange">Третьяковская</span>

                        </p>
                    </div>
                    <div class="header__info-item">
                        <p class="header__info-item-text">9:00 - 21:00</p>
                        <p class="header__info-item-subtext">
                            Без выходных
                        </p>
                    </div>

                    <div class="header__info-item">
                        <a href="javascript:;" class="header__info-item-text">+7 (495) 114-55-85</a>
                        <p class="header__info-item-subtext">
                            Заказать обратный звонок
                        </p>
                    </div>
                </div>

                <div class="header__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            
        </div>
    </div>


    <div class="header__bottom">
        <div class="container">
            <div class="header__bottom-wrap">
                <ul class="header__menu">
                    <li class="header__menu-item">
                        <a href="" class="header__menu-link">Я хочу...</a>

                        <!--  -->
                        <div class="header__menu-dropdown">
                            
                                <div class="header__menu-dropdown-wrap">
                                    <div class="header__menu-dropdown-content">
                                        <p class="header__menu-dropdown-title">Я хочу...</p>

                                        <div class="header__menu-dropdown-lists">
                                            <ul class="header__menu-dropdown-list header__menu-dropdown-list--services">
                                                <li class="header__menu-dropdown-list-item">
                                                    <a href="javascript:;" class="header__menu-dropdown-list-link">Стрижка волос</a>
                                                </li>
                                                <li class="header__menu-dropdown-list-item">
                                                    <a href="javascript:;" class="header__menu-dropdown-list-link">Укладка волос</a>
                                                </li>
                                                <li class="header__menu-dropdown-list-item">
                                                    <a href="javascript:;" class="header__menu-dropdown-list-link">Окрашинвание волос</a>
                                                </li>
                                                <li class="header__menu-dropdown-list-item">
                                                    <a href="javascript:;" class="header__menu-dropdown-list-link">Тонирование волос</a>
                                                </li>
                                                <li class="header__menu-dropdown-list-item">
                                                    <a href="javascript:;" class="header__menu-dropdown-list-link">Мелирование волос</a>
                                                </li>
                                                <li class="header__menu-dropdown-list-item">
                                                    <a href="javascript:;" class="header__menu-dropdown-list-link">Ламинирование волос</a>
                                                </li>
                                                <li class="header__menu-dropdown-list-item">
                                                    <a href="javascript:;" class="header__menu-dropdown-list-link">Блондирование волос</a>
                                                </li>
                                                <li class="header__menu-dropdown-list-item">
                                                    <a href="javascript:;" class="header__menu-dropdown-list-link">Завивка волос</a>
                                                </li>
                                                <li class="header__menu-dropdown-list-item">
                                                    <a href="javascript:;" class="header__menu-dropdown-list-link">Выпрямление волос</a>
                                                </li>
                                                <li class="header__menu-dropdown-list-item">
                                                    <a href="javascript:;" class="header__menu-dropdown-list-link">Плетение кос</a>
                                                </li>
                                                <li class="header__menu-dropdown-list-item">
                                                    <a href="javascript:;" class="header__menu-dropdown-list-link">Уход за волосами и кожей головы</a>
                                                </li>
    
                                            </ul>
    
                                            <ul class="header__menu-dropdown-list">
                                                <li class="header__menu-dropdown-list-item">
                                                    <a href="javascript:;" class="header__menu-dropdown-list-link">Цена</a>
                                                </li>
                                                <li class="header__menu-dropdown-list-item">
                                                    <a href="javascript:;" class="header__menu-dropdown-list-link">Акции и скидки</a>
                                                </li>
                                                <li class="header__menu-dropdown-list-item">
                                                    <a href="javascript:;" class="header__menu-dropdown-list-link">Подобрать услугу</a>
                                                </li>
                                                <li class="header__menu-dropdown-list-item">
                                                    <a href="javascript:;" class="header__menu-dropdown-list-link">Какие проблемы мы решаем</a>
                                                </li>
                                                <li class="header__menu-dropdown-list-item">
                                                    <a href="javascript:;" class="header__menu-dropdown-list-link">Арт-директор</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="header__menu-dropdown-bottom">
                                            <form class="header__menu-dropdown-search">
                                                <label for="" class="header__menu-dropdown-search-label">
                                                    <input type="text" class="header__menu-dropdown-search-input" placeholder="Поиск">
                                                </label>
                                            </form>

                                            <a href="javascript:;" class="header__menu-dropdown-callback">Консультация специалиста</a>
                                        </div>
                                    </div>
                                    
                                    <div class="header__menu-dropdown-banner">

                                    </div>
                                </div>
                            
                        </div>
                        <!--  -->
                    </li>
                    <li class="header__menu-item">
                        <a href="" class="header__menu-link">Косметология</a>

                        <!--  -->
                        <div class="header__menu-dropdown">
                            
                            <div class="header__menu-dropdown-wrap">
                                <div class="header__menu-dropdown-content">
                                    <p class="header__menu-dropdown-title">Косметология</p>

                                    <div class="header__menu-dropdown-lists">
                                        <ul class="header__menu-dropdown-list header__menu-dropdown-list--services">
                                            <li class="header__menu-dropdown-list-item">
                                                <a href="javascript:;" class="header__menu-dropdown-list-link">Стрижка волос</a>
                                            </li>
                                            <li class="header__menu-dropdown-list-item">
                                                <a href="javascript:;" class="header__menu-dropdown-list-link">Укладка волос</a>
                                            </li>
                                            <li class="header__menu-dropdown-list-item">
                                                <a href="javascript:;" class="header__menu-dropdown-list-link">Окрашинвание волос</a>
                                            </li>
                                            <li class="header__menu-dropdown-list-item">
                                                <a href="javascript:;" class="header__menu-dropdown-list-link">Тонирование волос</a>
                                            </li>
                                            <li class="header__menu-dropdown-list-item">
                                                <a href="javascript:;" class="header__menu-dropdown-list-link">Мелирование волос</a>
                                            </li>
                                            <li class="header__menu-dropdown-list-item">
                                                <a href="javascript:;" class="header__menu-dropdown-list-link">Ламинирование волос</a>
                                            </li>
                                            <li class="header__menu-dropdown-list-item">
                                                <a href="javascript:;" class="header__menu-dropdown-list-link">Блондирование волос</a>
                                            </li>
                                            <li class="header__menu-dropdown-list-item">
                                                <a href="javascript:;" class="header__menu-dropdown-list-link">Завивка волос</a>
                                            </li>
                                            <li class="header__menu-dropdown-list-item">
                                                <a href="javascript:;" class="header__menu-dropdown-list-link">Выпрямление волос</a>
                                            </li>
                                            <li class="header__menu-dropdown-list-item">
                                                <a href="javascript:;" class="header__menu-dropdown-list-link">Плетение кос</a>
                                            </li>
                                            <li class="header__menu-dropdown-list-item">
                                                <a href="javascript:;" class="header__menu-dropdown-list-link">Уход за волосами и кожей головы</a>
                                            </li>

                                        </ul>

                                        <ul class="header__menu-dropdown-list">
                                            <li class="header__menu-dropdown-list-item">
                                                <a href="javascript:;" class="header__menu-dropdown-list-link">Цена</a>
                                            </li>
                                            <li class="header__menu-dropdown-list-item">
                                                <a href="javascript:;" class="header__menu-dropdown-list-link">Акции и скидки</a>
                                            </li>
                                            <li class="header__menu-dropdown-list-item">
                                                <a href="javascript:;" class="header__menu-dropdown-list-link">Подобрать услугу</a>
                                            </li>
                                            <li class="header__menu-dropdown-list-item">
                                                <a href="javascript:;" class="header__menu-dropdown-list-link">Какие проблемы мы решаем</a>
                                            </li>
                                            <li class="header__menu-dropdown-list-item">
                                                <a href="javascript:;" class="header__menu-dropdown-list-link">Арт-директор</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="header__menu-dropdown-bottom">
                                        <form class="header__menu-dropdown-search">
                                            <label for="" class="header__menu-dropdown-search-label">
                                                <input type="text" class="header__menu-dropdown-search-input" placeholder="Поиск">
                                            </label>
                                        </form>

                                        <a href="javascript:;" class="header__menu-dropdown-callback">Консультация специалиста</a>
                                    </div>
                                </div>
                                
                                <div class="header__menu-dropdown-banner">

                                </div>
                            </div>
                        
                    </div>
                    <!--  -->
                    </li>
                    <li class="header__menu-item">
                        <a href="" class="header__menu-link">Гинекология</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="" class="header__menu-link">Массаж</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="" class="header__menu-link">Услуги стилистов</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="" class="header__menu-link">Ногтевой сервис</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="" class="header__menu-link">Акции</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="" class="header__menu-link">ElysionArt</a>
                    </li>
                    
                </ul>

                <div class="header__search">
                    <a href="javascript:;" class="header__search-item">
                        <svg width="18" height="18">
                            <use xlink:href="img/icons/sprite.svg#header-search"></use>
                        </svg>
                    </a>
                </div>
            </ul>
        </div>
    </div>

    <div class="header__hide-menu">
        <div class="header__hide-menu-top">
            <ul class="header__hide-menu-list">
                <li class="header__hide-menu-list-item">
                    <a href="javascript:;" class="header__hide-menu-list-link">О компании</a>
                </li>
                <li class="header__hide-menu-list-item">
                    <a href="javascript:;" class="header__hide-menu-list-link">Отзывы</a>
                </li>
                <li class="header__hide-menu-list-item">
                    <a href="javascript:;" class="header__hide-menu-list-link">Специалисты</a>
                </li>
                <li class="header__hide-menu-list-item">
                    <a href="javascript:;" class="header__hide-menu-list-link">Цены</a>
                </li>
                <li class="header__hide-menu-list-item">
                    <a href="javascript:;" class="header__hide-menu-list-link">Акции</a>
                </li>
                <li class="header__hide-menu-list-item">
                    <a href="javascript:;" class="header__hide-menu-list-link">До и после</a>
                </li>
                <li class="header__hide-menu-list-item">
                    <a href="javascript:;" class="header__hide-menu-list-link">Вопрос-ответ</a>
                </li>
                <li class="header__hide-menu-list-item">
                    <a href="javascript:;" class="header__hide-menu-list-link">Контакты</a>
                </li>
            </ul>
        </div>

        <div class="header__hide-menu-bottom">
            <ul class="header__hide-menu-services">
                <li class="header__hide-menu-services-item">
                    <a href="javascript:;" class="header__hide-menu-services-link">Я хочу...</a>
                </li>
                <li class="header__hide-menu-services-item">
                    <a href="javascript:;" class="header__hide-menu-services-link">Косметология</a>
                </li>
                <li class="header__hide-menu-services-item">
                    <a href="javascript:;" class="header__hide-menu-services-link">Гинекология</a>
                </li>
                <li class="header__hide-menu-services-item">
                    <a href="javascript:;" class="header__hide-menu-services-link">Массаж</a>
                </li>
                <li class="header__hide-menu-services-item">
                    <a href="javascript:;" class="header__hide-menu-services-link">Услуги стилистов</a>
                </li>
                <li class="header__hide-menu-services-item">
                    <a href="javascript:;" class="header__hide-menu-services-link">Ногтевой сервис</a>
                </li>
                <li class="header__hide-menu-services-item">
                    <a href="javascript:;" class="header__hide-menu-services-link">Акции</a>
                </li>
                <li class="header__hide-menu-services-item">
                    <a href="javascript:;" class="header__hide-menu-services-link">ElysionArt</a>
                </li>
            </ul>

            <div class="header__hide-menu-info">
                <div class="header__hide-menu-info-item">
                    <p class="header__hide-menu-info-item-text">Большая Татарская д. 7 корп. 1</p>
                    <p class="header__hide-menu-info-item-subtext">
                        <span class="header__hide-menu-info-item-subtext-address header__hide-menu-info-item-subtext-address--green">Новокузнецкая</span>
                        <span class="header__hide-menu-info-item-subtext-address header__hide-menu-info-item-subtext-address--orange">Третьяковская</span>

                    </p>
                </div>
                <div class="header__hide-menu-info-item">
                    <p class="header__hide-menu-info-item-text">9:00 - 21:00</p>
                    <p class="header__hide-menu-info-item-subtext">
                        Без выходных
                    </p>
                </div>

                <div class="header__hide-menu-info-item">
                    <a href="javascript:;" class="header__hide-menu-info-item-text">+7 (495) 114-55-85</a>
                    <p class="header__hide-menu-info-item-subtext">
                        Заказать обратный звонок
                    </p>
                </div>
            </div>

            <div class="header__hide-menu-social">
                <p class="header__hide-menu-text">Дружите с нами:</p>
    
                <a href="javascript:;" class="header__hide-menu-social-item">
                    <svg width="16" height="16">
                        <use xlink:href="img/icons/sprite.svg#header-inst"></use>
                    </svg>
                </a>
                <a href="javascript:;" class="header__hide-menu-social-item">
                    <svg width="10" height="16">
                        <use xlink:href="img/icons/sprite.svg#header-fb"></use>
                    </svg>
                </a>
                <a href="javascript:;" class="header__hide-menu-social-item">
                    <svg width="16" height="10">
                        <use xlink:href="img/icons/sprite.svg#header-vk"></use>
                    </svg>
                </a>
                <a href="javascript:;" class="header__hide-menu-social-item">
                    <svg width="18" height="14">
                        <use xlink:href="img/icons/sprite.svg#header-youtube"></use>
                    </svg>
                </a>
            </div>
    
            <div class="header__hide-menu-contacts">
                <a href="javascript:;" class="header__hide-menu-contacts-item">+7 900 00-00-00</a>
                <a href="javascript:;" class="header__hide-menu-contacts-item">
                    <svg width="14" height="14">
                        <use xlink:href="img/icons/sprite.svg#header-whatsapp"></use>
                    </svg>
                </a>
                <a href="javascript:;" class="header__hide-menu-contacts-item">
                    <svg width="14" height="14">
                        <use xlink:href="img/icons/sprite.svg#header-viber"></use>
                    </svg>
                </a>
                <a href="javascript:;" class="header__hide-menu-contacts-item">
                    <svg width="14" height="13">
                        <use xlink:href="img/icons/sprite.svg#header-telegram"></use>
                    </svg>
                </a>
            </div>
        </div>
        

        
    </div>
</header>