<section class="section reviews">
    <div class="container">
        <div class="block-title">
            <div class="block-title__wrap">
                <h2 class="block-title__text">Отзывы</h2>
                                 
            </div>
        </div>

        <div class="reviews__wrap">
            <div class="reviews__item">
                <div class="reviews__item-content">
                    <p>Огромное спасибо, Юлии Либерман, 
                        за профессионализм и творческий 
                        подход к работе! Наслаждалась 
                        стрижкой два месяца!!! Мастерство 
                        Юлии располагает стать ее постоянным
                        клиентом. Желаю Центру благополучия
                        и процветания! С уважением, 
                        Екатерина.</p>
                </div>
                <p class="reviews__item-name">
                    Липатова Татьяна    
                </p>
            </div>
            <div class="reviews__item">
                <div class="reviews__item-content">
                    <p>Огромное спасибо, Юлии Либерман, 
                        за профессионализм и творческий 
                        подход к работе! Наслаждалась 
                        стрижкой два месяца!!! Мастерство 
                        Юлии располагает стать ее постоянным
                        клиентом. Желаю Центру благополучия
                        и процветания! С уважением, 
                        Екатерина.</p>
                </div>
                <p class="reviews__item-name">
                    Липатова Татьяна    
                </p>
            </div>
            <div class="reviews__item">
                <div class="reviews__item-content">
                    <p>Огромное спасибо, Юлии Либерман, 
                        за профессионализм и творческий 
                        подход к работе! Наслаждалась 
                        стрижкой два месяца!!! Мастерство 
                        Юлии располагает стать ее постоянным
                        клиентом. Желаю Центру благополучия
                        и процветания! С уважением, 
                        Екатерина.</p>
                </div>
                <p class="reviews__item-name">
                    Липатова Татьяна    
                </p>
            </div>
            <div class="reviews__item">
                <div class="reviews__item-content">
                    <p>Огромное спасибо, Юлии Либерман, 
                        за профессионализм и творческий 
                        подход к работе! Наслаждалась 
                        стрижкой два месяца!!! Мастерство 
                        Юлии располагает стать ее постоянным
                        клиентом. Желаю Центру благополучия
                        и процветания! С уважением, 
                        Екатерина.</p>
                </div>
                <p class="reviews__item-name">
                    Липатова Татьяна    
                </p>
            </div>
        </div>
    </div>
</section>