<section class="section team">
    <div class="block-title block-title--padding">
        <div class="block-title__wrap">
            <h2 class="block-title__text">Команда</h2>
            <!-- <a href="javascript:;" class="block-title__more">Все специалисты</a> -->
        
        </div>
    </div>
    <div class="team__slider">
        <div class="team__item">
            <div class="team__img">
                <img src="img/team.png" alt="">
            </div>
            <div class="team__content">
                <p class="team__name"><span class="last-name">Ильина</span>Екатерина Михайловна</p>
                <p class="team__specialisation">Врач-косметолог</p>
            </div>
        </div>

        <div class="team__item">
            <div class="team__img">
                <img src="img/team.png" alt="">
            </div>
            <div class="team__content">
                <p class="team__name"><span class="last-name">Ильина</span>Екатерина Михайловна</p>
                <p class="team__specialisation">Врач-косметолог</p>
            </div>
        </div>

        <div class="team__item">
            <div class="team__img">
                <img src="img/team.png" alt="">
            </div>
            <div class="team__content">
                <p class="team__name"><span class="last-name">Ильина</span>Екатерина Михайловна</p>
                <p class="team__specialisation">Врач-косметолог</p>
            </div>
        </div>

        <div class="team__item">
            <div class="team__img">
                <img src="img/team.png" alt="">
            </div>
            <div class="team__content">
                <p class="team__name"><span class="last-name">Ильина</span>Екатерина Михайловна</p>
                <p class="team__specialisation">Врач-косметолог</p>
            </div>
        </div>

        <div class="team__item">
            <div class="team__img">
                <img src="img/team.png" alt="">
            </div>
            <div class="team__content">
                <p class="team__name"><span class="last-name">Ильина</span>Екатерина Михайловна</p>
                <p class="team__specialisation">Врач-косметолог</p>
            </div>
        </div>
    </div>
    
</section>