.banners {
    display: block;

    &__wrap {
        display: flex;
        justify-content: space-between;
        margin: 0 -16px;
        flex-wrap: wrap;
    }

    &__item {
        width: calc(50% - 32px);
        padding: 32px;
        background-color: rgba($color: $light-orange, $alpha: 0.5);
        border-radius: 16px;
        margin: 0 16px;
        margin-bottom: 32px;
    }

    &__item-content {
        display: flex;
        justify-content: space-between;
    }

    &__item-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        color: $text;
        margin-bottom: 8px;
    }

    &__item-text {
        font-size: 16px;
        line-height: 26px;
        color: $text;
        margin-bottom: 24px;
    }

    &__item-link {
        background-color: $white;
        border-radius: 96px;
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
        color: $text;
        text-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
        padding: 17px 56px;
        display: inline-block;
    }

    &__item-img {
        max-width: 180px;
        margin-left: 30px;
    }

    &__item--100width {
        width: 100%;

        .banners__item-left {
            display: flex;
            align-items: center;
        }

        .banners__item-title {
            color: $black;
        }

        .banners__item-text {
            margin-bottom: 0;
            padding: 0 15px;
        }
    }
}

// БАННЕР "СПЕЦПРЕДЛОЖЕНИЕ"

.gift {
    background-color: $green;
    padding: 20px 0;
    display: block;
    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: 18px;
        line-height: 29px;
        font-weight: 700;
        color: $white;
        text-transform: uppercase;
    }

    &__descr {
        font-size: 16px;
        line-height: 26px;
        color: $white;
        max-width: 550px;
    }

    &__link {
        font-size: 16px;
        line-height: 26px;
        color: $white;
        font-weight: 700;
        text-decoration: underline;
        align-self: center;
    }
}

.banners--services-page {
    padding: 80px 0 60px;
    .banners__item {
        margin: 0;
    }
}

@media screen and (max-width: 1200px) {
    .banners {
        display: none;
    }

    .gift {
        display: none;
    }
}