.footer {
    background-color: $green;

    &__top {
        border-bottom: 1px solid $white;
        display: block;
    }
    
    &__top-wrap {
        display: flex;
        align-items: center;
        padding: 16px 0;
    }

    &__top-item {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 1;
        color: $white;
        margin-right: 48px;

        svg {
            margin-right: 16px;
        }
    }

    &__bottom {
        padding: 80px 0;
    }

    &__bottom-wrap {
        display: flex;
    }

    &__bottom-left {
        min-width: 250px;
    }

    &__bottom-right {
        display: block;
        padding-left: 40px;
    }

    &__bottom-logo {
        display: inline-block;
        margin-bottom: 32px;
    }

    &__bottom-info-menu {
        display: none;
        margin-bottom: 40px;

        li {
            font-size: 18px;
            line-height: 100%;
            text-transform: uppercase;            
            color: #F9FEFE;
            margin-bottom: 24px;
            font-weight: 700;
            
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__bottom-info-item {
        margin-bottom: 40px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__info-item-text {
        color: $white;
        font-weight: 700;
        font-size: 16px;
        line-height: 1;
        margin-bottom: 8px;
        display: inline-block;
    }

    &__info-item-text--phone {
        display: inline-block;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    &__info-item-subtext {
        font-size: 12px;
        line-height: 1;
        color: rgba($color: $white, $alpha: 0.6);
    }

    &__info-item-subtext-address {
        position: relative;
        padding-left: 18px;
        margin-right: 12px;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 12px;
            height: 12px;
            border-radius: 50px;
        }
    }

    &__info-item-subtext-address--green {
        &:before {
            background-color: $default-green;
        }
    }

    &__info-item-subtext-address--orange {
        &:before {
            background-color: $default-orange;
        }
    }

    &__info-item-icons {
        display: flex;
        align-items: center;
    }

    &__info-item-icons-item {
        background-color: rgba($color: #ADADAD, $alpha: 0.1);
        height: 40px;
        width: 40px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__info-item-pay {
        display: flex;
        align-items: center;
        color: $white;
        font-size: 14px;
        line-height: 1;

        svg {
            margin-right: 16px;
        }
    }
    
    &__info-item-link {
        font-size: 10px;
        line-height: 13px;
        color: rgba($color: $white, $alpha: 0.8)
    }

    &__info-item-link--company {
        font-weight: 700;
        font-size: 14px;
        line-height: 1;
        color: $white;
    }


    &__bottom-links-row {
        display: flex;
        margin-bottom: 40px;
    }

    &__bottom-links-row-item {
        font-size: 16px;
        line-height: 1;
        color: $white;
        border-radius: 8px;
        background-color: rgba($color: $gold, $alpha: 0.1);
        padding: 14px 5px;
        display: block;
        width: 140px;
        text-align: center;
        margin-right: 40px;

        &:last-of-type {
            margin-right: 0;
        }
    }
    
    &__bottom-menus-row {
        display: flex;
        justify-content: space-between;
    }

    &__bottom-menus-col {
        position: relative;
        padding: 0 40px;
        width: 40%;

        &:last-of-type {
            width: 20%;
            padding-right: 0;
        }

        &:after {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 1px;
            height: 240px;
            background-color: rgba($color: $white, $alpha: 0.3);
        }

        &:first-of-type {
            padding-left: 0;
        }

        &:last-of-type:after {
            display: none;
        }
    }

    &__bottom-menus-col-title {
        font-size: 18px;
        line-height: 1;
        color: $white;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 24px;
    }

    &__bottom-menus-col-list {
        column-count: 2;
    }

    &__bottom-menus-list-link {
        font-size: 14px;
        line-height: 1;
        color: rgba($color: $white, $alpha: 0.8);
        display: inline-block;
        padding: 8px 0;
    }

    &__bottom-menus-nav-item {
        margin-bottom: 16px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__bottom-menus-nav-link {
        font-size: 18px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
        color: $white;
    }
    
    &__bottom-btn {
        color: $white;
        border-radius: 16px;
        border: 2px solid rgba($color: $white, $alpha: 0.5);
        display: inline-block;
        font-size: 16px;
        padding: 10px 8px;
        margin-top: 70px;
    }

}

@media screen and (max-width: 1200px) {
    .footer {
        &__top {
            display: none;
        }

        &__bottom {
            padding: 56px 0;
        }

        &__bottom-info-menu {
            display: block;
        }

        &__bottom-right {
            display: none;
        }

        &__bottom-logo {
            display: none;
        }
    }
}